{% extends "webpage/base.html" %}
{% block Titel %} Chapters {% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Explore</li>
    </ol>
</nav>
<div class="container">
    <div class="jumbotron" style="text-align: center;">
        <h5 >
            Which animal's actions are thought to have the most influence on one's home/house? </h5><h5>Do some animals/species favour some particular actions more than others? …</h5> <h5>Find out for yourself using our data visualisations!</h4>
    </div>
    <div class="list-group">
        <a href="{{ request.path }}/../animal-objects" class="list-group-item list-group-item-action">Animals (protasis) and persons/objects (nouns in apodosis)</a>
        <a href="{{ request.path }}/../animal-action" class="list-group-item list-group-item-action">Animals (protasis) and their actions (verbs in protasis)</a>
        <a class="list-group-item list-group-item-action">Animals (protasis) and  outcome (grouped by sentiment - apodosis)</a>
        <a class="list-group-item list-group-item-action">Actions (protasis) and outcomes (grouped by sentiment - apodosis)
        </a>
    </div>

</div>
{% endblock content %}
