[flake8]
ignore = D203 W504 E712
max-line-length = 120
exclude =
    */migrations,
    */migrations,
    manage.py
    .git,
    .tox,
    docs/conf.py,
    build,
    dist
    env
    infos
    webpage
    ./omens/tests/test_chapter.py