# Byte-compiled
__pycache__/
*.pyc

# sqlite
/*.sqlite3

# test coverage
.coverage
cover/

# IDE
.idea

/staticfiles

# Ipython Notebook checkpoints
.ipynb_checkpoints

# production(like) settings files
mysql.py
server.py
postgres.py
dev_secret.py

# documentation build files

/docs/_*/*
/vocabs/data/spreadsheets/cv_burial.xlsx
/Untitled.ipynb
/arche/data/fileType.json
/arche/data/fileList.json

# Emacs related
*\#*
*~
*conda*
/htmlcov/*
/env

# exclude everything
media/*

# exception to the rule
!media/.gitkeep 
hansi.xml
