{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}

  <div class="jumbotron text-center"">
    <h1>{% projects_metadata 'title' %}</h1>
    <h3>{% projects_metadata 'subtitle' %}</h3>
    <hr>
    <h5>{% projects_metadata 'description' %}</h5>

  </div>

  <div class="container">
    <h4> </h4>
    <div class="row">
      <div class="col-md-4  text-center">
        <div class="card-body">
          <h4 class="mb-0">	<a href="#" class="btn btn-main btn-outline-primary">Chapters</a></h4>
          </div>
	</a>
      </div>

      <div class="col-md-4  text-center">
        <div class="card-body">
          <h4 class="mb-0">	<a href="#" class="btn btn-main btn-outline-primary">Animals</a></h4>
          </div>
	</a>
      </div>
    </div>
  </div>

{% endblock %}


