{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}

  <div class="jumbotron" style="background-image: url({% static 'webpage/img/project_background.jpg' %}) ">
    <div class="container">
      <h1 style="text-align:center; color: #111;">{% projects_metadata 'title' %}</h1>
      <h3 style="text-align:center; color: #111;">{% projects_metadata 'subtitle' %}</h3>
      <h5 style="text-align:center; color: #111;">{% projects_metadata 'description' %}</h5>
    </div>
  </div>

  <div class="container">
    <h4> </h4>
    <div class="row">
      <div class="col-md-4  text-center">
	<a href="#" class="btn btn-main btn-outline-primary">
          <div class="card-body">
            <h4 class="mb-0">Chapters</h4>
          </div>
	</a>
      </div>

      <div class="col-md-4  text-center">
	<a href="#" class="btn btn-main btn-outline-primary">
          <div class="card-body">
            <h4 class="mb-0">Animals</h4>
          </div>
	</a>
      </div>
    </div>
  </div>
{% endblock %}
