<svg id="svg{{translation.safe_id}}-{{token}}"></svg>

<div id="test1-{{translation.safe_id}}">
</div>
<div id ="test{{translation.safe_id}}-{{token}}">
    You should not be seeing this.
</div>
<!-- {{translation.hypernyms}} -->
<script type="text/javascript">
 var width = 800;
 var height = 800;
 var color = d3.scaleOrdinal(d3.schemeCategory10);
 $('a[href="#menu2-{{translation.safe_id}}"]').on('hidden.bs.tab',function(e){
     console.log("hide");
     var svg = d3.select("#svg{{translation.safe_id}}").attr("width", width).attr("height", height);
     svg.selectAll("*").remove();
 });

 $('a[href="#menu2-{{translation.safe_id}}-{{token}}"]').on('shown.bs.tab',function(e){
     console.log("show");
     var word = d3.select('a[href="#menu2-{{translation.safe_id}}"]')
     console.log(word);
     console.log("/curator/segments/{{page_obj.number}}/{{translation.translation_id}}/sensed3");
     d3.json("/curator/segments/{{page_obj.number}}/wordsense/{{token}}").then(data =>{
         d3.select("#test{{translation.safe_id}}-{{token}}").text("");

         var graph = JSON.parse(data);
         console.log(graph);
         var svg = d3.select("#svg{{translation.safe_id}}-{{token}}").attr("width", width).attr("height", height);

         //To prevent adding multiple grahs whenever ths sense is clicked
         svg.selectAll("*").remove();

         var label = {
             'nodes': [],
             'links': []
         };


 });


</script>
