{% extends "webpage/base.html" %}
{% block Titel %} Chapter {{chapter.chapter_name}} {% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" ><a href="/omens/chapters">Chapters</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chapter {{chapter.chapter_name}}</li>
    </ol>
</nav>
<div class="head">
    <h1><b> Chapter: {{chapter.chapter_name}} - {{chapter.animal}} 
    </b></h1>
</div>

<div class="body" style="margin-left: 30px; margin-left: 30px;">{{chapter.introduction|safe}}</div>

{% endblock content %}


