<style>
 td{
     padding:0.3em;
 }
 .protasis{
     color:DarkGoldenRod;
 }
 .apodosis{
     color:DarkCyan;
 }

 .others .protasis, .others .apodosis{
     color:unset !important;
 }

 .others{
     font-size:smaller;
 }

 .score-table{
 }
 .spacer{
     flex: 1 1 auto;
 }
 .toggle-buttons{
     text-align:right;
     float:right;
     max-width: 30%;
 }

 .translation, .transcription,  .transliteration{
     min-width: 25%;
     font-size: 90%;
     padding: 0.5em;
 }

 span.lemma:after{
     content: " ";
     white-space: break-spaces;
 }
 .reconstruction-label{
     min-width: 150px;
     font-variant: small-caps;
 }
 .reconstruction-label .form-check-label{
     font-variant: normal;
 }

 .list-group-item{
     background: transparent;
     border: none;

 }

 .score-table{
     min-width:50%;
     margin-left:2em;
 }
</style>

