{% extends "webpage/base.html" %}
{% block Titel %} Chapters {% endblock %}
{% block content %}
<!-- <div class="jumbotron">
     <h3 style="text-align: center;">Chapters</h3>
     </div> -->
<div class="container">
    <ul class="flex-wrap d-flex  mt-3">
        {% for chapter in chapters %}
        <li class="list-group-item m-3  rounded ">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Chapter {{ chapter.chapter_name }}</h3>
                </div>
                <div class="card-body mx-auto">
                    <div class="">
                        <a class="btn btn-outline-primary btn-sm" href="{{ request.path }}/{{ chapter.chapter_name }}"> Omens </a>
                        <a class="btn btn-outline-primary btn-sm" href="{{ request.path }}/{{ chapter.chapter_name }}/tei" target="_blank">TEI</a>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
