{% extends "webpage/base.html" %}
{% block Titel %} Chapters {% endblock %}
{% block content %}
<!-- <div class="jumbotron">
     <h3 style="text-align: center;">Chapters</h3>
     </div> -->
<div class="container">
    <ul class="flex-wrap d-flex  mt-3">
        {% for chapter in chapters %}
        <li class="list-group-item m-3  rounded p-0">
            <div class="card">
                <a href="{{ request.path }}/{{ chapter.chapter_name }}/tei" class="btn btn-light p-0 m-0 rounded-0">
                    <div class="card-header">

                        <span class="card-title">Chapter {{ chapter.chapter_name }}</span>

                    </div>
                </a>
                <div class="card-body mx-auto">
                    </div>
                </div>


        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
