<div class="container">


    <div id="tei"  >

    </div>
</div>

<style>
 .protasis{
     color:DarkGoldenRod;
 }
 .apodosis{
     color:DarkCyan;
 }
</style>

<script onload="displayResult()">
 function loadXMLDoc(filename)
 {
     if (window.ActiveXObject)
     {
         xhttp = new ActiveXObject("Msxml2.XMLHTTP");
     }
     else
     {
         xhttp = new XMLHttpRequest();
     }
     xhttp.open("GET", filename, false);
     try {xhttp.responseType = "application/xml"} catch(err) {} // Helping IE11
     xhttp.send("");
     return xhttp.responseXML;
 }

 var displayResult = function()
 {
     parser = new DOMParser();
     xsl =loadXMLDoc('tei2html');
     xml = parser.parseFromString('{{tei|safe }}',"application/xml");
     console.log("XML", xml);
     console.log("XSL", xsl);

     // code for IE
     if (window.ActiveXObject)
     {
         var template = new ActiveXObject('Msxml2.XslTemplate');
         template.stylesheet = xsl;
         var proc = template.createProcessor();
         proc.input = xml;
         {%if omen_id%}
         proc.addParameter(null, "omen", "{{omen_id}}");
         {%endif%}
         proc.transform();
         document.getElementById("tei").innerHTML = proc.output;

     }
     // code for Chrome, Firefox, Opera, etc.
     else if (document.implementation && document.implementation.createDocument)
     {
         xsltProcessor = new XSLTProcessor();
         xsltProcessor.importStylesheet(xsl);
         {%if omen_id%}
         xsltProcessor.setParameter(null, "omen", "{{omen_id}}");
         console.log("{{omen_id}}");
         {%endif%}
         resultDocument = xsltProcessor.transformToFragment(xml, document);
         console.log("RESULT", resultDocument);
         document.getElementById("tei").appendChild(resultDocument);
     }

 }
 window.onload = function () {
     displayResult();
 }
</script>
<noscript>
    <div class="alert alert-warning m-3" role="alert">
        Javascript is not supported by your browser, so we cannot render the TEI here. Enable Javascript and try again or click <a href="{{request.path}}.xml"> here </a> to view the raw TEI data.
    </div>
</noscript>
