{% extends "webpage/base.html" %}
{% block content %}
<div class="jumbotron">
    <h3 style="text-align: center;">Omen {{data.omen.chapter.chapter_name}}.{{data.omen.omen_num}}</h3>
</div>

<div class="container">
    <ul class="">
        {% if messages %}
        <li class="list-group-item" >
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </li>
        {% endif %}
        {% for reading, val in data.translations.items %}
        <li class="list-group-item">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{reading }}</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            {% if request.user.is_authenticated %}
                            <a data-toggle="collapse"
                               data-target="#collapse_{{reading}}_protasis"
                               aria-expanded="false"
                               aria-controls="collapse_{{reading}}_protasis" href="#"
                               class="text-decoration-none active">
                                <span class="">&#x270e;</span>
                            </a>
                            <div id ="collapse_{{reading}}_protasis" class="collapse">
                                <form action="/omens/{{ data.omen.omen_id }}/edit/{{val.translation_id_p}}">
                                    <input class="btn btn-success" type="submit" />

                                    <a href="#" class="btn btn-danger" data-toggle="collapse"
                                       data-target="#collapse_{{reading}}_protasis">
                                        Cancel
                                    </a>
                                    <input class="form-control form-control-lg" type="text" placeholder="" value="{{val.fulltext_protasis}}"
                                           name="input_{{val.translation_id_p}}">
                                </form>

                            </div>
                            {% endif %}

                            {% for wordnet in val.PROTASIS %}
                            {% if  wordnet.sense %}
                            <a aria-expanded="false"  href="#"
                               aria-controls="collapse_{{reading}}_{{forloop.counter0}}"
                               class="text-decoration-none font-weight-bold active"
                               data-toggle="collapse"
                               title="{{ wordnet.word }}"
                               data-target="#collapse_{{reading}}_{{forloop.counter0}}">
                                {{ wordnet.word }}
                            </a>
                            <div id="collapse_{{reading}}_{{forloop.counter0}}" class="collapse" >
                                <ul class="list-group">
                                    {% for s in wordnet.sense %}
                                    <li class="list-group-item small">
                                        <button type="button" class="btn btn-primary"
                                                data-toggle="tooltip"  title="{{s.lemmas}}} - {{s.tree}}">
                                            {{s.name}}
                                        </button>
                                        {% if s.examples %}
                                        <ul class="list-inline">
                                            {% for example in s.examples %}
                                            <li class="list-group-item"> "{{example}}"</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        <li class="list-group-item small">
                                            <pre>{{s.tree | linebreaks}}</pre>
                                        </li>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {%else%}
                            {{ wordnet.word }}
                            {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock content %}
