{% extends "webpage/base.html" %}
{% load static %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}

  <div class="jumbotron text-center" style="background-image:url('../../static/webpage/img/project_background.jpg'); background-size:cover;">
    <h1>{% projects_metadata 'title' %}</h1>
    <h3>{% projects_metadata 'subtitle' %}</h3>
    <hr style="color:#254aa5;"/>
    <h5 style="text-align:justify;">The <a href="https://www.derstandard.de/story/2000112144446/wie-der-herr-so-s-gescherr-keilschrifttafeln-die-vom-tier">project</a>, financed by the Austrian Science Fund for three years (2018-2021), examines the Ancient Mesopotamian
      divinatory series known by its incipit as “If a city is set on a height” (<em>Šumma ālu ina mēlê šakin</em>). This
      composition collects unsolicited terrestrial omens taken from the diviners’ physical, every-day
      surroundings, including human and animal behavioural omens. <em>Šumma ālu</em> is not only the larger
      divinatory composition from Ancient Mesopotamia (ca. 13.000 omens distributed over more than 100
      thematic chapters or “Tablets”), but also the most multifaceted. This notwithstanding, and, despite the
      fact that large parts of it are available in recent editions, interpretative studies on the series are
      conspicuously rare. The project addresses this knowledge gap by focusing on the section of the
      divinatory series <em>Šumma ālu</em>  which deals with the appearance and the behaviour of animals, Tablets
      22-40 and 63-79. On the philological level, the project aims to update and improve the current editions
      of Tablets 22-40 and edit the hitherto unedited bird omens Tablets 64-79. On the interpretative level,
      the project seeks to explore the interconnected hermeneutic system underlying the presentation of
      animals in <em>Šumma ālu</em>  by combining methods of textual criticism with modern digital methodologies
      and concepts and methods taken from human-animal studies and historical anthrozoology. 
    </h5>
  </div>

  <div class="container">

  </div>

{% endblock %}


